In [1]:
#%matplotlib inline

#import dependecies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
raw_data = '../data/rawdata/NYPD_Motor_Vehicle_Collisions.csv'

nyc_data = pd.read_csv(raw_data)

nyc_data

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/16/2019,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,NaN,...,NaN,NaN,NaN,NaN,4098779,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,03/16/2019,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4097559,Sedan,Garbage or Refuse,NaN,NaN,NaN
2,03/16/2019,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,NaN,...,Unspecified,NaN,NaN,NaN,4098023,Sedan,Sedan,NaN,NaN,NaN
3,03/16/2019,0:00,NaN,NaN,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098377,Sedan,Taxi,NaN,NaN,NaN
4,03/16/2019,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097667,Sedan,Sedan,NaN,NaN,NaN

In [4]:
nyc_data.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [ ]:
#Examine data columns
#nyc_data.nunique()

## Notes on some of the questions we need to ask/answer?
* Where do car crashes happen in NYC?
* When do they happen?
* What are the common characteristics of crashes?
* Does the weather condition contribute to car crashes?
* Total number of accidents
* % of killed or injured by total
* Investigations into the increase and decrease in collisions in various boughs and why?
* difference in collisions by seasons 
* most dangerous, borough, ZIpcode, Street, car type, time to drive, weather(temperature and visibility level )
* safest borough, Zipcode, Street, car type and time to drive, weather(temperature and visibility level )
* Extreme weather events in nyc and how they affected collisions - case study
* group collisions by, day, hour, weekday, contributing factor (Distractions, Poor Driving, Physical alignment, Driving Under Influence, Car Defects, Outside influence)
* Note: view maps by buroghs, (motorists, cyclist, pedestrians)

In [5]:
#check data types
nyc_data.dtypes

DATE                              object
TIME                              object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
UNIQUE KEY                         int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [6]:
#nyc_data.fillna(0)

In [7]:
#calculate totals of columns for deaths and injurues 
nyc_data["DEATHS"] = nyc_data["NUMBER OF PERSONS KILLED"] + nyc_data["NUMBER OF PEDESTRIANS KILLED"] + \
                    nyc_data["NUMBER OF CYCLIST KILLED"] + nyc_data["NUMBER OF MOTORIST KILLED"]

nyc_data["INJURIES"] = nyc_data["NUMBER OF PEDESTRIANS INJURED"] + nyc_data["NUMBER OF CYCLIST INJURED"] \
                        + nyc_data["NUMBER OF MOTORIST INJURED"]
nyc_data.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,DEATHS,INJURIES
0,03/16/2019,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,NaN,...,NaN,NaN,4098779,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0.0,0
1,03/16/2019,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,NaN,...,NaN,NaN,4097559,Sedan,Garbage or Refuse,NaN,NaN,NaN,0.0,0
2,03/16/2019,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,NaN,...,NaN,NaN,4098023,Sedan,Sedan,NaN,NaN,NaN,0.0,0
3,03/16/2019,0:00,NaN,NaN,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,NaN,NaN,...,NaN,NaN,4098377,Sedan,Taxi,NaN,NaN,NaN,0.0,0
4,03/16/2019,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,NaN,...,NaN,NaN,4097667,Sedan,Sedan,NaN,NaN,NaN,0.0,1

In [ ]:
#plot deaths and injuries burrows deaths

In [8]:
#Where do car crashes happen in NYC?

#collisions by borough #
collision_by_boroughs = nyc_data['BOROUGH'].value_counts()

#calculate percentage of deaths and injuries
#group by boroughs
borough_gp = nyc_data.groupby('BOROUGH')

borough_deaths = pd.DataFrame(borough_gp['DEATHS'].sum())
#borough_deaths

borough_injuries = pd.DataFrame(borough_gp['INJURIES'].sum())
#borough_injuries

deaths_n_injuries = borough_deaths.join(borough_injuries, how='left')

deaths_n_injuries = deaths_n_injuries.reset_index()
#tot_deaths = deaths_n_injuries['DEATHS'].sum()
#tot_injuries = deaths_n_injuries['INJURIES'].sum()

deaths_n_injuries

         BOROUGH  DEATHS  INJURIES
0          BRONX   306.0     39948
1       BROOKLYN   713.0     91891
2      MANHATTAN   414.0     43207
3         QUEENS   668.0     70425
4  STATEN ISLAND   122.0     11148

In [9]:
#concat date and time columns for easy analysis
nyc_data['COLLISION DATE'] = nyc_data['DATE'] + ' ' + nyc_data['TIME']
#nyc_data.head()
nyc_data['COLLISION DATE'] = pd.to_datetime(nyc_data['COLLISION DATE'])

In [40]:
nyc_data

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,DEATHS,INJURIES,COLLISION DATE,YEAR,MONTH,DAY,HOUR
0,03/16/2019,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:00:00,2019,3,Saturday,0
1,03/16/2019,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:00:00,2019,3,Saturday,0
2,03/16/2019,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:00:00,2019,3,Saturday,0
3,03/16/2019,0:00,NaN,NaN,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:00:00,2019,3,Saturday,0
4,03/16/2019,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,NaN,...,NaN,NaN,NaN,0.0,1,2019-03-16 00:00:00,2019,3,Saturday,0
5,03/16/2019,0:00,NaN,NaN,NaN,NaN,NaN,BELT PARKWAY RAMP,NaN,NaN,...,NaN,NaN,NaN,0.0,1,2019-03-16 00:00:00,2019,3,Saturday,0
6,03/16/2019,0:00,NaN,NaN,40.684647,-73.868700,"(40.684647, -73.8687)",FULTON STREET,NaN,NaN,...,NaN,NaN,NaN,0.0,1,2019-03-16 00:00:00,2019,3,Saturday,0
7,03/16/2019,0:10,QUEENS,11103,40.758316,-73.910690,"(40.758316, -73.91069)",48 STREET,31 AVENUE,NaN,...,NaN,NaN,NaN,0.0,1,2019-03-16 00:10:00,2019,3,Saturday,0
8,03/16/2019,0:11,MANHATTAN,10006,40.709686,-74.011680,"(40.709686, -74.01168)",CHURCH STREET,LIBERTY STREET,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:11:00,2019,3,Saturday,0
9,03/16/2019,0:15,NaN,NaN,40.699930,-73.961880,"(40.69993, -73.96188)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:15:00,2019,3,Saturday,0
10,03/16/2019,0:20,BRONX,10451,NaN,NaN,NaN,EAST 138 STREET,EXTERIOR STREET,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:20:00,2019,3,Saturday,0
11,03/16/2019,0:30,QUEENS,11434,40.667430,-73.766760,"(40.66743, -73.76676)",NORTH CONDUIT AVENUE,FARMERS BOULEVARD,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:30:00,2019,3,Saturday,0
12,03/16/2019,0:30,NaN,NaN,40.728855,-73.927820,"(40.728855, -73.92782)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:30:00,2019,3,Saturday,0
13,03/16/2019,0:35,MANHATTAN,10022,40.763588,-73.971420,"(40.763588, -73.97142)",EAST 59 STREET,MADISON AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:35:00,2019,3,Saturday,0
14,03/16/2019,0:43,MANHATTAN,10065,40.759910,-73.958820,"(40.75991, -73.95882)",EAST 61 STREET,YORK AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:43:00,2019,3,Saturday,0
15,03/16/2019,0:44,QUEENS,11385,40.692978,-73.901920,"(40.692978, -73.90192)",NaN,NaN,56-05 COOPER AVENUE,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:44:00,2019,3,Saturday,0
16,03/16/2019,0:45,NaN,NaN,40.721650,-73.941960,"(40.72165, -73.94196)",MEEKER AVENUE,MONITOR STREET,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 00:45:00,2019,3,Saturday,0
17,03/16/2019,10:00,BROOKLYN,11207,40.669094,-73.897110,"(40.669094, -73.89711)",SUTTER AVENUE,GEORGIA AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00,2019,3,Saturday,10
18,03/16/2019,10:00,QUEENS,11693,40.586506,-73.817730,"(40.586506, -73.81773)",BEACH 95 STREET,ROCKAWAY FREEWAY,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00,2019,3,Saturday,10
19,03/16/2019,10:00,NaN,NaN,40.683582,-73.953964,"(40.683582, -73.953964)",BEDFORD AVENUE,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00,2019,3,Saturday,10
20,03/16/2019,10:00,NaN,NaN,40.666610,-73.876144,"(40.66661, -73.876144)",HEGEMAN AVENUE,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00,2019,3,Saturday,10
21,03/16/2019,10:00,NaN,NaN,40.765520,-73.980040,"(40.76552, -73.98004)",WEST 57 STREET,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00,2019,3,Saturday,10
22,03/16/2019,10:11,NaN,NaN,40.690907,-73.955420,"(40.690907, -73.95542)",DE KALB AVENUE,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:11:00,2019,3,Saturday,10
23,03/16/2019,10:15,BRONX,10460,40.845985,-73.884476,"(40.845985, -73.884476)",EAST 180 STREET,SOUTHERN BOULEVARD,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:15:00,2019,3,Saturday,10
24,03/16/2019,10:15,MANHATTAN,10065,40.765213,-73.970245,"(40.765213, -73.970245)",NaN,NaN,682 MADISON AVENUE,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:15:00,2019,3,Saturday,10
25,03/16/2019,10:15,NaN,NaN,40.762264,-73.785270,"(40.762264, -73.78527)",39 AVENUE,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:15:00,2019,3,Saturday,10
26,03/16/2019,10:19,BROOKLYN,11222,40.722107,-73.942990,"(40.722107, -73.94299)",NaN,NaN,75 NORTH HENRY STREET,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:19:00,2019,3,Saturday,10
27,03/16/2019,10:20,BROOKLYN,11215,40.667027,-73.995200,"(40.667027, -73.9952)",3 AVENUE,PROSPECT AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:20:00,2019,3,Saturday,10
28,03/16/2019,10:20,BROOKLYN,11217,40.680733,-73.974510,"(40.680733, -73.97451)",6 AVENUE,BERGEN STREET,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:20:00,2019,3,Saturday,10
29,03/16/2019,10:20,NaN,NaN,40.658070,-73.960434,"(40.65807, -73.960434)",FLATBUSH AVENUE,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2019-03-16 10:20:00,2019,3,Saturday,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462084,07/01/2012,8:27,BROOKLYN,11216,40.680857,-73.938546,"(40.6808571, -73.9385457)",DECATUR STREET,ALBANY AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 08:27:00,2012,7,Sunday,8
1462085,07/01/2012,8:27,NaN,NaN,40.708797,-73.727620,"(40.7087971, -73.72762)",NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,2,2012-07-01 08:27:00,2012,7,Sunday,8
1462086,07/01/2012,8:30,NaN,NaN,NaN,NaN,NaN,WEST 181 STREET,RIVERSIDE DRIVE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 08:30:00,2012,7,Sunday,8
1462087,07/01/2012,8:34,BROOKLYN,11213,40.668798,-73.931120,"(40.6687978, -73.9311201)",EASTERN PARKWAY,UTICA AVENUE,NaN,...,NaN,NaN,NaN,0.0,2,2012-07-01 08:34:00,2012,7,Sunday,8
1462088,07/01/2012,8:37,QUEENS,11435,40.694545,-73.802112,"(40.6945453, -73.802112)",SOUTH ROAD,SUTPHIN BOULEVARD,NaN,...,NaN,NaN,NaN,0.0,1,2012-07-01 08:37:00,2012,7,Sunday,8
1462089,07/01/2012,8:43,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,UTOPIA PARKWAY,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 08:43:00,2012,7,Sunday,8
1462090,07/01/2012,8:58,BRONX,10466,40.891840,-73.862740,"(40.8918398, -73.8627401)",BRONX BOULEVARD,EAST 229 STREET,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 08:58:00,2012,7,Sunday,8
1462091,07/01/2012,9:00,QUEENS,11101,40.744131,-73.927047,"(40.7441309, -73.9270473)",38 STREET,QUEENS BOULEVARD,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:00:00,2012,7,Sunday,9
1462092,07/01/2012,9:00,MANHATTAN,10022,40.757859,-73.975592,"(40.7578587, -73.975592)",EAST 50 STREET,MADISON AVENUE,NaN,...,NaN,NaN,NaN,0.0,1,2012-07-01 09:00:00,2012,7,Sunday,9
1462093,07/01/2012,9:15,BROOKLYN,11233,40.675380,-73.908196,"(40.6753803, -73.9081956)",PACIFIC STREET,EASTERN PARKWAY,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:15:00,2012,7,Sunday,9
1462094,07/01/2012,9:15,QUEENS,11421,40.696308,-73.851549,"(40.6963077, -73.8515486)",94 STREET,85 ROAD,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:15:00,2012,7,Sunday,9
1462095,07/01/2012,9:15,QUEENS,11429,40.711860,-73.735538,"(40.7118601, -73.7355383)",219 STREET,104 AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:15:00,2012,7,Sunday,9
1462096,07/01/2012,9:15,STATEN ISLAND,10310,40.634748,-74.112253,"(40.6347476, -74.1122528)",CASTLETON AVENUE,BEMENT AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:15:00,2012,7,Sunday,9
1462097,07/01/2012,9:20,NaN,NaN,NaN,NaN,NaN,FOOD CENTER DRIVE,HALLECK STREET,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:20:00,2012,7,Sunday,9
1462098,07/01/2012,9:24,QUEENS,11411,40.690917,-73.728179,"(40.6909168, -73.7281786)",LINDEN BOULEVARD,234 STREET,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:24:00,2012,7,Sunday,9
1462099,07/01/2012,9:30,BRONX,10475,40.861637,-73.824326,"(40.8616372, -73.8243256)",HUNTER AVENUE,EARHART LANE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:30:00,2012,7,Sunday,9
1462100,07/01/2012,9:30,BROOKLYN,11219,40.626826,-73.996790,"(40.626826, -73.9967902)",61 STREET,NEW UTRECHT AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:30:00,2012,7,Sunday,9
1462101,07/01/2012,9:30,QUEENS,11368,40.755336,-73.843245,"(40.7553365, -73.8432452)",ROOSEVELT AVENUE,126 STREET,NaN,...,PASSENGER VEHICLE,NaN,NaN,0.0,0,2012-07-01 09:30:00,2012,7,Sunday,9
1462102,07/01/2012,9:30,BROOKLYN,11207,40.678163,-73.897477,"(40.6781627, -73.8974769)",JAMAICA AVENUE,PENNSYLVANIA AVENUE,NaN,...,NaN,NaN,NaN,0.0,1,2012-07-01 09:30:00,2012,7,Sunday,9
1462103,07/01/2012,9:39,BROOKLYN,11226,40.646518,-73.958105,"(40.6465177, -73.958105)",TILDEN AVENUE,FLATBUSH AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:39:00,2012,7,Sunday,9
1462104,07/01/2012,9:40,BRONX,10462,40.839882,-73.857658,"(40.8398819, -73.8576576)",METROPOLITAN AVENUE,MAPLE DRIVE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:40:00,2012,7,Sunday,9
1462105,07/01/2012,9:40,MANHATTAN,10002,40.714069,-73.997504,"(40.7140687, -73.9975038)",DIVISION STREET,CATHERINE STREET,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:40:00,2012,7,Sunday,9
1462106,07/01/2012,9:40,QUEENS,11354,40.764455,-73.831773,"(40.7644548, -73.831773)",35 AVENUE,FARRINGTON STREET,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:40:00,2012,7,Sunday,9
1462107,07/01/2012,9:40,QUEENS,11369,40.767470,-73.881859,"(40.7674704, -73.8818593)",23 AVENUE,88 STREET,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:40:00,2012,7,Sunday,9
1462108,07/01/2012,9:40,QUEENS,11370,40.758743,-73.890690,"(40.7587426, -73.8906895)",31 AVENUE,77 STREET,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:40:00,2012,7,Sunday,9
1462109,07/01/2012,9:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:45:00,2012,7,Sunday,9
1462110,07/01/2012,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:50:00,2012,7,Sunday,9
1462111,07/01/2012,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:50:00,2012,7,Sunday,9
1462112,07/01/2012,9:57,MANHATTAN,10065,40.765242,-73.957868,"(40.7652424, -73.9578679)",1 AVENUE,EAST 68 STREET,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:57:00,2012,7,Sunday,9
1462113,07/01/2012,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,NaN,...,NaN,NaN,NaN,0.0,0,2012-07-01 09:59:00,2012,7,Sunday,9

In [45]:
#df['d'] = df['d'].astype(np.int64) // 10**9
nyc_data['UNIX DATE'] = nyc_data['COLLISION DATE'].astype(np.int64) // 10**9

In [46]:
nyc_data.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,DEATHS,INJURIES,COLLISION DATE,YEAR,MONTH,DAY,HOUR,UNIX DATE
0,03/16/2019,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,NaN,...,NaN,NaN,0.0,0,2019-03-16,2019,3,Saturday,0,1552694400
1,03/16/2019,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,NaN,...,NaN,NaN,0.0,0,2019-03-16,2019,3,Saturday,0,1552694400
2,03/16/2019,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,NaN,...,NaN,NaN,0.0,0,2019-03-16,2019,3,Saturday,0,1552694400
3,03/16/2019,0:00,NaN,NaN,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,NaN,NaN,...,NaN,NaN,0.0,0,2019-03-16,2019,3,Saturday,0,1552694400
4,03/16/2019,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,NaN,...,NaN,NaN,0.0,1,2019-03-16,2019,3,Saturday,0,1552694400

In [10]:
#check data types
nyc_data.dtypes

DATE                                     object
TIME                                     object
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
UNIQUE KEY                                int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
DEATHS                                  float64
INJURIES                                  int64
COLLISION DATE                   datetime64[ns]
dtype: object

In [41]:
nyc_data['COLLISION DATE'].min()

Timestamp('2012-07-01 00:05:00')

In [42]:
nyc_data['COLLISION DATE'].max()

Timestamp('2019-03-16 23:55:00')

In [18]:
nyc_data['YEAR'] = nyc_data['COLLISION DATE'].dt.year
nyc_data['MONTH'] = nyc_data['COLLISION DATE'].dt.month
nyc_data['DAY'] = nyc_data['COLLISION DATE'].dt.weekday_name
nyc_data['HOUR'] = nyc_data['COLLISION DATE'].dt.hour
#nyc_data.head()

In [43]:
coll_date_df = nyc_data[['HOUR', 'DAY', 'MONTH', 'YEAR','BOROUGH', 'DEATHS', 'INJURIES']]
coll_date_df.head()

   HOUR       DAY  MONTH  YEAR    BOROUGH  DEATHS  INJURIES
0     0  Saturday      3  2019   BROOKLYN     0.0         0
1     0  Saturday      3  2019  MANHATTAN     0.0         0
2     0  Saturday      3  2019     QUEENS     0.0         0
3     0  Saturday      3  2019        NaN     0.0         0
4     0  Saturday      3  2019      BRONX     0.0         1

In [22]:
coll_by_yr = coll_date_df['YEAR'].value_counts().sort_index()
coll_by_yr

2012    100541
2013    203729
2014    206029
2015    217693
2016    229784
2017    230994
2018    231435
2019     41909
Name: YEAR, dtype: int64

In [23]:
#coll_by_yr.plot()

In [24]:
coll_by_mnt = coll_date_df['MONTH'].value_counts().sort_index()
coll_by_mnt

1     119020
2     109682
3     116790
4     104173
5     118050
6     118285
7     130045
8     128430
9     128167
10    133354
11    127141
12    128977
Name: MONTH, dtype: int64

In [25]:
#coll_by_mnt.plot()

In [27]:
coll_by_wkday = coll_date_df['DAY'].value_counts()
coll_by_wkday

Friday       234077
Thursday     220243
Tuesday      217331
Wednesday    215381
Monday       209392
Saturday     194265
Sunday       171425
Name: DAY, dtype: int64

In [28]:
#coll_by_wkday.plot()

In [29]:
coll_by_hr = nyc_data['HOUR'].value_counts().sort_index()
coll_by_hr

0      41303
1      22765
2      17242
3      14931
4      17476
5      19214
6      30634
7      42208
8      82469
9      81020
10     74631
11     77401
12     81972
13     86329
14    100182
15     91785
16    108927
17    105853
18     92685
19     75368
20     62100
21     51491
22     46319
23     37809
Name: HOUR, dtype: int64

In [30]:
#coll_by_hr.plot()

In [49]:
#categorize and calulate category percentages contributing factor
#nyc_data["CONTRIBUTING FACTOR VEHICLE 1"].unique()

In [ ]:
#groupby days
nyc_data_dt_gp = nyc_data.groupby('UNIX DATE')

In [52]:
nyc_data_dt_gp['UNIX DATE'].value_counts()

UNIX DATE   UNIX DATE
1341101100  1341101100    2
1341101400  1341101400    2
1341102000  1341102000    1
1341102060  1341102060    1
1341102120  1341102120    1
1341102180  1341102180    1
1341102300  1341102300    1
1341102600  1341102600    3
1341103020  1341103020    1
1341103440  1341103440    1
1341103500  1341103500    3
1341104400  1341104400    3
1341104460  1341104460    1
1341104580  1341104580    1
1341105000  1341105000    1
1341105300  1341105300    1
1341105360  1341105360    1
1341105600  1341105600    3
1341106200  1341106200    2
1341107100  1341107100    1
1341107520  1341107520    1
1341107580  1341107580    1
1341107700  1341107700    1
1341108000  1341108000    1
1341108060  1341108060    1
1341108240  1341108240    1
1341108600  1341108600    1
1341108840  1341108840    1
1341109200  1341109200    1
1341109800  1341109800    4
                         ..
1552772100  1552772100    1
1552772400  1552772400    1
1552772700  1552772700    2
1552773000  1552773000    1
1552773420  1552773420    1
1552773600  1552773600    1
1552773960  1552773960    1
1552774200  1552774200    2
1552774500  1552774500    3
1552774800  1552774800    2
1552775400  1552775400    4
1552775700  1552775700    2
1552776300  1552776300    2
1552776600  1552776600    1
1552776960  1552776960    1
1552777200  1552777200    3
1552777260  1552777260    1
1552777500  1552777500    1
1552777800  1552777800    3
1552778220  1552778220    1
1552778400  1552778400    2
1552778700  1552778700    2
1552779000  1552779000    2
1552779300  1552779300    1
1552779360  1552779360    1
1552779600  1552779600    1
1552779660  1552779660    1
1552779900  1552779900    2
1552780200  1552780200    3
1552780500  1552780500    1
Name: UNIX DATE, Length: 728985, dtype: int64