In [44]:
#%matplotlib inline

#import dependecies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import requests
from pprint import pprint

In [2]:
raw_data = '../data/rawdata/NYPD_Motor_Vehicle_Collisions.csv'

nyc_data = pd.read_csv(raw_data)

nyc_data

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,3/16/19,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,NaN,...,NaN,NaN,NaN,NaN,4098779,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,3/16/19,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4097559,Sedan,Garbage or Refuse,NaN,NaN,NaN
2,3/16/19,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,NaN,...,Unspecified,NaN,NaN,NaN,4098023,Sedan,Sedan,NaN,NaN,NaN
3,3/16/19,0:00,NaN,NaN,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098377,Sedan,Taxi,NaN,NaN,NaN
4,3/16/19,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097667,Sedan,Sedan,NaN,NaN,NaN
5,3/16/19,0:00,NaN,NaN,NaN,NaN,NaN,BELT PARKWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4097655,Sedan,Sedan,NaN,NaN,NaN
6,3/16/19,0:00,NaN,NaN,40.684647,-73.868700,"(40.684647, -73.8687)",FULTON STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098794,Sedan,Sedan,NaN,NaN,NaN
7,3/16/19,0:10,QUEENS,11103,40.758316,-73.910690,"(40.758316, -73.91069)",48 STREET,31 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4099230,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
8,3/16/19,0:11,MANHATTAN,10006,40.709686,-74.011680,"(40.709686, -74.01168)",CHURCH STREET,LIBERTY STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097499,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN
9,3/16/19,0:15,NaN,NaN,40.699930,-73.961880,"(40.69993, -73.96188)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4098619,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
10,3/16/19,0:20,BRONX,10451,NaN,NaN,NaN,EAST 138 STREET,EXTERIOR STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097700,Sedan,Sedan,NaN,NaN,NaN
11,3/16/19,0:30,QUEENS,11434,40.667430,-73.766760,"(40.66743, -73.76676)",NORTH CONDUIT AVENUE,FARMERS BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4098007,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,3/16/19,0:30,NaN,NaN,40.728855,-73.927820,"(40.728855, -73.92782)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4097769,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
13,3/16/19,0:35,MANHATTAN,10022,40.763588,-73.971420,"(40.763588, -73.97142)",EAST 59 STREET,MADISON AVENUE,NaN,...,Traffic Control Disregarded,NaN,NaN,NaN,4098034,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
14,3/16/19,0:43,MANHATTAN,10065,40.759910,-73.958820,"(40.75991, -73.95882)",EAST 61 STREET,YORK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4098030,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
15,3/16/19,0:44,QUEENS,11385,40.692978,-73.901920,"(40.692978, -73.90192)",NaN,NaN,56-05 COOPER AVENUE,...,Unspecified,NaN,NaN,NaN,4098126,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
16,3/16/19,0:45,NaN,NaN,40.721650,-73.941960,"(40.72165, -73.94196)",MEEKER AVENUE,MONITOR STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097495,Sedan,Sedan,NaN,NaN,NaN
17,3/16/19,10:00,BROOKLYN,11207,40.669094,-73.897110,"(40.669094, -73.89711)",SUTTER AVENUE,GEORGIA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4098782,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,3/16/19,10:00,QUEENS,11693,40.586506,-73.817730,"(40.586506, -73.81773)",BEACH 95 STREET,ROCKAWAY FREEWAY,NaN,...,NaN,NaN,NaN,NaN,4097592,Sedan,NaN,NaN,NaN,NaN
19,3/16/19,10:00,NaN,NaN,40.683582,-73.953964,"(40.683582, -73.953964)",BEDFORD AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098815,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
20,3/16/19,10:00,NaN,NaN,40.666610,-73.876144,"(40.66661, -73.876144)",HEGEMAN AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4098791,Sedan,NaN,NaN,NaN,NaN
21,3/16/19,10:00,NaN,NaN,40.765520,-73.980040,"(40.76552, -73.98004)",WEST 57 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098352,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
22,3/16/19,10:11,NaN,NaN,40.690907,-73.955420,"(40.690907, -73.95542)",DE KALB AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098601,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
23,3/16/19,10:15,BRONX,10460,40.845985,-73.884476,"(40.845985, -73.884476)",EAST 180 STREET,SOUTHERN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4098751,Sedan,NaN,NaN,NaN,NaN
24,3/16/19,10:15,MANHATTAN,10065,40.765213,-73.970245,"(40.765213, -73.970245)",NaN,NaN,682 MADISON AVENUE,...,Unspecified,NaN,NaN,NaN,4097609,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
25,3/16/19,10:15,NaN,NaN,40.762264,-73.785270,"(40.762264, -73.78527)",39 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4097576,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
26,3/16/19,10:19,BROOKLYN,11222,40.722107,-73.942990,"(40.722107, -73.94299)",NaN,NaN,75 NORTH HENRY STREET,...,Unspecified,NaN,NaN,NaN,4097742,Sedan,NaN,NaN,NaN,NaN
27,3/16/19,10:20,BROOKLYN,11215,40.667027,-73.995200,"(40.667027, -73.9952)",3 AVENUE,PROSPECT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4097604,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
28,3/16/19,10:20,BROOKLYN,11217,40.680733,-73.974510,"(40.680733, -73.97451)",6 AVENUE,BERGEN STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097597,Box Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
29,3/16/19,10:20,NaN,NaN,40.658070,-73.960434,"(40.65807, -73.960434)",FLATBUSH AVENUE,NaN,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4097770,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048545,7/15/14,23:55,BROOKLYN,11213,40.670429,-73.928181,"(40.6704292, -73.9281805)",SAINT JOHNS PLACE,ROCHESTER AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,736245,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1048546,7/15/14,2:25,NaN,NaN,40.762174,-73.756787,"(40.7621739, -73.7567868)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3081151,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1048547,7/15/14,2:29,BROOKLYN,11209,40.635985,-74.037244,"(40.6359848, -74.0372441)",SHORE ROAD,72 STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,669862,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN
1048548,7/15/14,2:30,NaN,NaN,40.715555,-73.826159,"(40.7155546, -73.8261593)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2998491,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1048549,7/15/14,3:10,NaN,NaN,NaN,NaN,NaN,23 STREET,QUEENS PLAZA SOUTH,NaN,...,Unspecified,NaN,NaN,NaN,875285,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1048550,7/15/14,3:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARKING LOT 4040 3 AVE,...,NaN,NaN,NaN,NaN,530803,UNKNOWN,NaN,NaN,NaN,NaN
1048551,7/15/14,3:25,MANHATTAN,10075,40.772655,-73.955552,"(40.7726551, -73.9555525)",2 AVENUE,EAST 78 STREET,NaN,...,Unspecified,NaN,NaN,NaN,470912,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1048552,7/15/14,4:00,QUEENS,11422,40.668478,-73.732736,"(40.6684778, -73.7327364)",244 STREET,137 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,839397,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1048553,7/15/14,4:30,QUEENS,11103,40.763893,-73.914994,"(40.763893, -73.9149938)",STEINWAY STREET,30 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,944634,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1048554,7/15/14,4:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8973 BAY PKWY(PARKING LOT),...,NaN,NaN,NaN,NaN,627848,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1048555,7/15/14,5:00,QUEENS,11432,40.714910,-73.804587,"(40.7149102, -73.8045874)",84 AVENUE,161 STREET,NaN,...,Unspecified,NaN,NaN,NaN,861752,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN
1048556,7/15/14,5:00,NaN,NaN,40.722099,-73.777710,"(40.7220991, -73.7777101)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3035081,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
1048557,7/12/14,19:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,930742,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1048558,7/15/14,5:17,MANHATTAN,10035,40.799892,-73.938584,"(40.7998915, -73.9385839)",EAST 119 STREET,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,491374,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1048559,7/15/14,5:30,NaN,NaN,40.676837,-74.001449,"(40.6768371, -74.0014487)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2976954,OTHER,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
1048560,7/15/14,5:51,BROOKLYN,11210,40.621474,-73.950711,"(40.6214741, -73.950711)",BEDFORD AVENUE,AVENUE L,NaN,...,Unspecified,NaN,NaN,NaN,686369,SPORT UTILITY / STATION WAGON,BUS,NaN,NaN,NaN
1048561,7/15/14,6:20,BROOKLYN,11220,40.643566,-74.004746,"(40.6435664, -74.0047457)",48 STREET,7 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,995496,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1048562,7/15/14,6:30,BROOKLYN,11238,40.686745,-73.965526,"(40.6867449, -73.9655256)",WASHINGTON AVENUE,GREENE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,771488,TAXI,BICYCLE,NaN,NaN,NaN
1048563,7/15/14,6:35,BROOKLYN,11221,40.697721,-73.924530,"(40.6977209, -73.9245303)",STOCKHOLM STREET,CENTRAL AVENUE,NaN,...,Backing Unsafely,NaN,NaN,NaN,758369,TAXI,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1048564,7/15/14,6:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2976955,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1048565,7/15/14,6:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KENT AVENUE NORTH 12 AND NORTH 13,...,Unspecified,NaN,NaN,NaN,994587,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1048566,7/15/14,6:58,BROOKLYN,11215,40.666159,-73.995307,"(40.6661587, -73.9953068)",17 STREET,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,703327,OTHER,PASSENGER VEHICLE,NaN,NaN,NaN
1048567,7/15/14,7:00,NaN,NaN,NaN,NaN,NaN,SAGE STREET,CENTRAL AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,790188,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1048568,7/15/14,7:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2873662,BUS,PASSENGER VEHICLE,NaN,NaN,NaN
1048569,7/15/14,7:10,NaN,NaN,40.741972,-73.841154,"(40.7419723, -73.8411542)",NaN,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,3066389,PASSENGER VEHICLE,SMALL COM VEH(4 TIRES),SPORT UTILITY / STATION WAGON,NaN,NaN
1048570,7/15/14,7:50,BROOKLYN,11231,40.683473,-73.999726,"(40.6834728, -73.999726)",UNION STREET,HENRY STREET,NaN,...,NaN,NaN,NaN,NaN,729110,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1048571,7/15/14,7:50,MANHATTAN,10065,40.764289,-73.955616,"(40.7642891, -73.9556159)",YORK AVENUE,EAST 68 STREET,NaN,...,Unspecified,NaN,NaN,NaN,470910,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1048572,7/15/14,8:00,QUEENS,11101,40.745238,-73.937696,"(40.7452378, -73.9376959)",SKILLMAN AVENUE,THOMSON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,875279,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
1048573,7/15/14,8:00,QUEENS,11434,40.666842,-73.789408,"(40.6668416, -73.7894084)",150 STREET,NORTH CONDUIT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,930764,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN
1048574,7/15/14,8:00,NaN,NaN,NaN,NaN,NaN,PENNSYLVANIA AVENUE,HORNELL LOOP,NaN,...,Unspecified,NaN,NaN,NaN,725534,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [3]:
nyc_data.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [4]:
#Examine data columns
#nyc_data.nunique()

## Notes on some of the questions we need to ask/answer?
* Where do car crashes happen in NYC?
* When do they happen?
* What are the common characteristics of crashes?
* Does the weather condition contribute to car crashes?
* Total number of accidents
* % of killed or injured by total
* Investigations into the increase and decrease in collisions in various boughs and why?
* difference in collisions by seasons 
* most dangerous, borough, ZIpcode, Street, car type, time to drive, weather(temperature and visibility level )
* safest borough, Zipcode, Street, car type and time to drive, weather(temperature and visibility level )
* Extreme weather events in nyc and how they affected collisions - case study
* group collisions by, day, hour, weekday, contributing factor (Distractions, Poor Driving, Physical alignment, Driving Under Influence, Car Defects, Outside influence)
* Note: view maps by buroghs, (motorists, cyclist, pedestrians)

In [5]:
#check data types
nyc_data.dtypes

DATE                              object
TIME                              object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
UNIQUE KEY                         int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [6]:
#nyc_data.fillna(0)

In [7]:
#calculate totals of columns for deaths and injurues 
nyc_data["DEATHS"] = nyc_data["NUMBER OF PERSONS KILLED"] + nyc_data["NUMBER OF PEDESTRIANS KILLED"] + \
                    nyc_data["NUMBER OF CYCLIST KILLED"] + nyc_data["NUMBER OF MOTORIST KILLED"]

nyc_data["INJURIES"] = nyc_data["NUMBER OF PEDESTRIANS INJURED"] + nyc_data["NUMBER OF CYCLIST INJURED"] \
                        + nyc_data["NUMBER OF MOTORIST INJURED"]
nyc_data.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,DEATHS,INJURIES
0,3/16/19,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,NaN,...,NaN,NaN,4098779,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0.0,0
1,3/16/19,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,NaN,...,NaN,NaN,4097559,Sedan,Garbage or Refuse,NaN,NaN,NaN,0.0,0
2,3/16/19,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,NaN,...,NaN,NaN,4098023,Sedan,Sedan,NaN,NaN,NaN,0.0,0
3,3/16/19,0:00,NaN,NaN,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,NaN,NaN,...,NaN,NaN,4098377,Sedan,Taxi,NaN,NaN,NaN,0.0,0
4,3/16/19,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,NaN,...,NaN,NaN,4097667,Sedan,Sedan,NaN,NaN,NaN,0.0,1

In [8]:
#plot deaths and injuries burrows deaths

In [9]:
#Where do car crashes happen in NYC?

#collisions by borough #
collision_by_boroughs = nyc_data['BOROUGH'].value_counts()

#calculate percentage of deaths and injuries
#group by boroughs
borough_gp = nyc_data.groupby('BOROUGH')

borough_deaths = pd.DataFrame(borough_gp['DEATHS'].sum())
#borough_deaths

borough_injuries = pd.DataFrame(borough_gp['INJURIES'].sum())
#borough_injuries

deaths_n_injuries = borough_deaths.join(borough_injuries, how='left')

deaths_n_injuries = deaths_n_injuries.reset_index()
#tot_deaths = deaths_n_injuries['DEATHS'].sum()
#tot_injuries = deaths_n_injuries['INJURIES'].sum()

deaths_n_injuries

         BOROUGH  DEATHS  INJURIES
0          BRONX   190.0     27651
1       BROOKLYN   429.0     61642
2      MANHATTAN   262.0     28071
3         QUEENS   416.0     49117
4  STATEN ISLAND    80.0      6969

In [10]:
#concat date and time columns for easy analysis
nyc_data['COLLISION DATE'] = nyc_data['DATE'] + ' ' + nyc_data['TIME']
#nyc_data.head()
nyc_data['COLLISION DATE'] = pd.to_datetime(nyc_data['COLLISION DATE'])

In [11]:
nyc_data

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,DEATHS,INJURIES,COLLISION DATE
0,3/16/19,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,NaN,...,NaN,4098779,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0.0,0,2019-03-16 00:00:00
1,3/16/19,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,NaN,...,NaN,4097559,Sedan,Garbage or Refuse,NaN,NaN,NaN,0.0,0,2019-03-16 00:00:00
2,3/16/19,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,NaN,...,NaN,4098023,Sedan,Sedan,NaN,NaN,NaN,0.0,0,2019-03-16 00:00:00
3,3/16/19,0:00,NaN,NaN,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,NaN,NaN,...,NaN,4098377,Sedan,Taxi,NaN,NaN,NaN,0.0,0,2019-03-16 00:00:00
4,3/16/19,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,NaN,...,NaN,4097667,Sedan,Sedan,NaN,NaN,NaN,0.0,1,2019-03-16 00:00:00
5,3/16/19,0:00,NaN,NaN,NaN,NaN,NaN,BELT PARKWAY RAMP,NaN,NaN,...,NaN,4097655,Sedan,Sedan,NaN,NaN,NaN,0.0,1,2019-03-16 00:00:00
6,3/16/19,0:00,NaN,NaN,40.684647,-73.868700,"(40.684647, -73.8687)",FULTON STREET,NaN,NaN,...,NaN,4098794,Sedan,Sedan,NaN,NaN,NaN,0.0,1,2019-03-16 00:00:00
7,3/16/19,0:10,QUEENS,11103,40.758316,-73.910690,"(40.758316, -73.91069)",48 STREET,31 AVENUE,NaN,...,NaN,4099230,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0.0,1,2019-03-16 00:10:00
8,3/16/19,0:11,MANHATTAN,10006,40.709686,-74.011680,"(40.709686, -74.01168)",CHURCH STREET,LIBERTY STREET,NaN,...,NaN,4097499,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN,0.0,0,2019-03-16 00:11:00
9,3/16/19,0:15,NaN,NaN,40.699930,-73.961880,"(40.69993, -73.96188)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,NaN,4098619,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0.0,0,2019-03-16 00:15:00
10,3/16/19,0:20,BRONX,10451,NaN,NaN,NaN,EAST 138 STREET,EXTERIOR STREET,NaN,...,NaN,4097700,Sedan,Sedan,NaN,NaN,NaN,0.0,0,2019-03-16 00:20:00
11,3/16/19,0:30,QUEENS,11434,40.667430,-73.766760,"(40.66743, -73.76676)",NORTH CONDUIT AVENUE,FARMERS BOULEVARD,NaN,...,NaN,4098007,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,0.0,0,2019-03-16 00:30:00
12,3/16/19,0:30,NaN,NaN,40.728855,-73.927820,"(40.728855, -73.92782)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,NaN,4097769,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,0.0,0,2019-03-16 00:30:00
13,3/16/19,0:35,MANHATTAN,10022,40.763588,-73.971420,"(40.763588, -73.97142)",EAST 59 STREET,MADISON AVENUE,NaN,...,NaN,4098034,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,0.0,0,2019-03-16 00:35:00
14,3/16/19,0:43,MANHATTAN,10065,40.759910,-73.958820,"(40.75991, -73.95882)",EAST 61 STREET,YORK AVENUE,NaN,...,NaN,4098030,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,0.0,0,2019-03-16 00:43:00
15,3/16/19,0:44,QUEENS,11385,40.692978,-73.901920,"(40.692978, -73.90192)",NaN,NaN,56-05 COOPER AVENUE,...,NaN,4098126,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,0.0,0,2019-03-16 00:44:00
16,3/16/19,0:45,NaN,NaN,40.721650,-73.941960,"(40.72165, -73.94196)",MEEKER AVENUE,MONITOR STREET,NaN,...,NaN,4097495,Sedan,Sedan,NaN,NaN,NaN,0.0,0,2019-03-16 00:45:00
17,3/16/19,10:00,BROOKLYN,11207,40.669094,-73.897110,"(40.669094, -73.89711)",SUTTER AVENUE,GEORGIA AVENUE,NaN,...,NaN,4098782,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00
18,3/16/19,10:00,QUEENS,11693,40.586506,-73.817730,"(40.586506, -73.81773)",BEACH 95 STREET,ROCKAWAY FREEWAY,NaN,...,NaN,4097592,Sedan,NaN,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00
19,3/16/19,10:00,NaN,NaN,40.683582,-73.953964,"(40.683582, -73.953964)",BEDFORD AVENUE,NaN,NaN,...,NaN,4098815,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00
20,3/16/19,10:00,NaN,NaN,40.666610,-73.876144,"(40.66661, -73.876144)",HEGEMAN AVENUE,NaN,NaN,...,NaN,4098791,Sedan,NaN,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00
21,3/16/19,10:00,NaN,NaN,40.765520,-73.980040,"(40.76552, -73.98004)",WEST 57 STREET,NaN,NaN,...,NaN,4098352,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,0.0,0,2019-03-16 10:00:00
22,3/16/19,10:11,NaN,NaN,40.690907,-73.955420,"(40.690907, -73.95542)",DE KALB AVENUE,NaN,NaN,...,NaN,4098601,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,0.0,0,2019-03-16 10:11:00
23,3/16/19,10:15,BRONX,10460,40.845985,-73.884476,"(40.845985, -73.884476)",EAST 180 STREET,SOUTHERN BOULEVARD,NaN,...,NaN,4098751,Sedan,NaN,NaN,NaN,NaN,0.0,0,2019-03-16 10:15:00
24,3/16/19,10:15,MANHATTAN,10065,40.765213,-73.970245,"(40.765213, -73.970245)",NaN,NaN,682 MADISON AVENUE,...,NaN,4097609,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0.0,0,2019-03-16 10:15:00
25,3/16/19,10:15,NaN,NaN,40.762264,-73.785270,"(40.762264, -73.78527)",39 AVENUE,NaN,NaN,...,NaN,4097576,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,0.0,0,2019-03-16 10:15:00
26,3/16/19,10:19,BROOKLYN,11222,40.722107,-73.942990,"(40.722107, -73.94299)",NaN,NaN,75 NORTH HENRY STREET,...,NaN,4097742,Sedan,NaN,NaN,NaN,NaN,0.0,0,2019-03-16 10:19:00
27,3/16/19,10:20,BROOKLYN,11215,40.667027,-73.995200,"(40.667027, -73.9952)",3 AVENUE,PROSPECT AVENUE,NaN,...,NaN,4097604,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,0.0,0,2019-03-16 10:20:00
28,3/16/19,10:20,BROOKLYN,11217,40.680733,-73.974510,"(40.680733, -73.97451)",6 AVENUE,BERGEN STREET,NaN,...,NaN,4097597,Box Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,0.0,0,2019-03-16 10:20:00
29,3/16/19,10:20,NaN,NaN,40.658070,-73.960434,"(40.65807, -73.960434)",FLATBUSH AVENUE,NaN,NaN,...,NaN,4097770,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,0.0,0,2019-03-16 10:20:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048545,7/15/14,23:55,BROOKLYN,11213,40.670429,-73.928181,"(40.6704292, -73.9281805)",SAINT JOHNS PLACE,ROCHESTER AVENUE,NaN,...,NaN,736245,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,0.0,0,2014-07-15 23:55:00
1048546,7/15/14,2:25,NaN,NaN,40.762174,-73.756787,"(40.7621739, -73.7567868)",NaN,NaN,NaN,...,NaN,3081151,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,0.0,1,2014-07-15 02:25:00
1048547,7/15/14,2:29,BROOKLYN,11209,40.635985,-74.037244,"(40.6359848, -74.0372441)",SHORE ROAD,72 STREET,NaN,...,NaN,669862,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,0.0,0,2014-07-15 02:29:00
1048548,7/15/14,2:30,NaN,NaN,40.715555,-73.826159,"(40.7155546, -73.8261593)",NaN,NaN,NaN,...,NaN,2998491,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN,0.0,0,2014-07-15 02:30:00
1048549,7/15/14,3:10,NaN,NaN,NaN,NaN,NaN,23 STREET,QUEENS PLAZA SOUTH,NaN,...,NaN,875285,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN,0.0,0,2014-07-15 03:10:00
1048550,7/15/14,3:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARKING LOT 4040 3 AVE,...,NaN,530803,UNKNOWN,NaN,NaN,NaN,NaN,0.0,0,2014-07-15 03:10:00
1048551,7/15/14,3:25,MANHATTAN,10075,40.772655,-73.955552,"(40.7726551, -73.9555525)",2 AVENUE,EAST 78 STREET,NaN,...,NaN,470912,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,0.0,0,2014-07-15 03:25:00
1048552,7/15/14,4:00,QUEENS,11422,40.668478,-73.732736,"(40.6684778, -73.7327364)",244 STREET,137 AVENUE,NaN,...,NaN,839397,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,0.0,0,2014-07-15 04:00:00
1048553,7/15/14,4:30,QUEENS,11103,40.763893,-73.914994,"(40.763893, -73.9149938)",STEINWAY STREET,30 AVENUE,NaN,...,NaN,944634,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,0.0,0,2014-07-15 04:30:00
1048554,7/15/14,4:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8973 BAY PKWY(PARKING LOT),...,NaN,627848,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,0.0,0,2014-07-15 04:30:00
1048555,7/15/14,5:00,QUEENS,11432,40.714910,-73.804587,"(40.7149102, -73.8045874)",84 AVENUE,161 STREET,NaN,...,NaN,861752,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,0.0,0,2014-07-15 05:00:00
1048556,7/15/14,5:00,NaN,NaN,40.722099,-73.777710,"(40.7220991, -73.7777101)",NaN,NaN,NaN,...,NaN,3035081,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,0.0,0,2014-07-15 05:00:00
1048557,7/12/14,19:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,930742,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,0.0,3,2014-07-12 19:38:00
1048558,7/15/14,5:17,MANHATTAN,10035,40.799892,-73.938584,"(40.7998915, -73.9385839)",EAST 119 STREET,3 AVENUE,NaN,...,NaN,491374,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,0.0,0,2014-07-15 05:17:00
1048559,7/15/14,5:30,NaN,NaN,40.676837,-74.001449,"(40.6768371, -74.0014487)",NaN,NaN,NaN,...,NaN,2976954,OTHER,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN,0.0,0,2014-07-15 05:30:00
1048560,7/15/14,5:51,BROOKLYN,11210,40.621474,-73.950711,"(40.6214741, -73.950711)",BEDFORD AVENUE,AVENUE L,NaN,...,NaN,686369,SPORT UTILITY / STATION WAGON,BUS,NaN,NaN,NaN,0.0,0,2014-07-15 05:51:00
1048561,7/15/14,6:20,BROOKLYN,11220,40.643566,-74.004746,"(40.6435664, -74.0047457)",48 STREET,7 AVENUE,NaN,...,NaN,995496,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,0.0,0,2014-07-15 06:20:00
1048562,7/15/14,6:30,BROOKLYN,11238,40.686745,-73.965526,"(40.6867449, -73.9655256)",WASHINGTON AVENUE,GREENE AVENUE,NaN,...,NaN,771488,TAXI,BICYCLE,NaN,NaN,NaN,0.0,1,2014-07-15 06:30:00
1048563,7/15/14,6:35,BROOKLYN,11221,40.697721,-73.924530,"(40.6977209, -73.9245303)",STOCKHOLM STREET,CENTRAL AVENUE,NaN,...,NaN,758369,TAXI,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,0.0,0,2014-07-15 06:35:00
1048564,7/15/14,6:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2976955,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,0.0,0,2014-07-15 06:40:00
1048565,7/15/14,6:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KENT AVENUE NORTH 12 AND NORTH 13,...,NaN,994587,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,0.0,0,2014-07-15 06:51:00
1048566,7/15/14,6:58,BROOKLYN,11215,40.666159,-73.995307,"(40.6661587, -73.9953068)",17 STREET,3 AVENUE,NaN,...,NaN,703327,OTHER,PASSENGER VEHICLE,NaN,NaN,NaN,0.0,0,2014-07-15 06:58:00
1048567,7/15/14,7:00,NaN,NaN,NaN,NaN,NaN,SAGE STREET,CENTRAL AVENUE,NaN,...,NaN,790188,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,0.0,0,2014-07-15 07:00:00
1048568,7/15/14,7:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2873662,BUS,PASSENGER VEHICLE,NaN,NaN,NaN,0.0,0,2014-07-15 07:00:00
1048569,7/15/14,7:10,NaN,NaN,40.741972,-73.841154,"(40.7419723, -73.8411542)",NaN,NaN,NaN,...,NaN,3066389,PASSENGER VEHICLE,SMALL COM VEH(4 TIRES),SPORT UTILITY / STATION WAGON,NaN,NaN,0.0,0,2014-07-15 07:10:00
1048570,7/15/14,7:50,BROOKLYN,11231,40.683473,-73.999726,"(40.6834728, -73.999726)",UNION STREET,HENRY STREET,NaN,...,NaN,729110,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,0.0,0,2014-07-15 07:50:00
1048571,7/15/14,7:50,MANHATTAN,10065,40.764289,-73.955616,"(40.7642891, -73.9556159)",YORK AVENUE,EAST 68 STREET,NaN,...,NaN,470910,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN,0.0,0,2014-07-15 07:50:00
1048572,7/15/14,8:00,QUEENS,11101,40.745238,-73.937696,"(40.7452378, -73.9376959)",SKILLMAN AVENUE,THOMSON AVENUE,NaN,...,NaN,875279,PASSENGER VEHICLE,VAN,NaN,NaN,NaN,0.0,0,2014-07-15 08:00:00
1048573,7/15/14,8:00,QUEENS,11434,40.666842,-73.789408,"(40.6668416, -73.7894084)",150 STREET,NORTH CONDUIT AVENUE,NaN,...,NaN,930764,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,0.0,0,2014-07-15 08:00:00
1048574,7/15/14,8:00,NaN,NaN,NaN,NaN,NaN,PENNSYLVANIA AVENUE,HORNELL LOOP,NaN,...,NaN,725534,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,0.0,0,2014-07-15 08:00:00

In [12]:
#df['d'] = df['d'].astype(np.int64) // 10**9
nyc_data['UNIX DATE'] = nyc_data['COLLISION DATE'].astype(np.int64) // 10**9

In [13]:
nyc_data.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,DEATHS,INJURIES,COLLISION DATE,UNIX DATE
0,3/16/19,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,NaN,...,4098779,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0.0,0,2019-03-16,1552694400
1,3/16/19,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,NaN,...,4097559,Sedan,Garbage or Refuse,NaN,NaN,NaN,0.0,0,2019-03-16,1552694400
2,3/16/19,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,NaN,...,4098023,Sedan,Sedan,NaN,NaN,NaN,0.0,0,2019-03-16,1552694400
3,3/16/19,0:00,NaN,NaN,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,NaN,NaN,...,4098377,Sedan,Taxi,NaN,NaN,NaN,0.0,0,2019-03-16,1552694400
4,3/16/19,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,NaN,...,4097667,Sedan,Sedan,NaN,NaN,NaN,0.0,1,2019-03-16,1552694400

In [14]:
#check data types
nyc_data.dtypes

DATE                                     object
TIME                                     object
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
UNIQUE KEY                                int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
DEATHS                                  float64
INJURIES                                  int64
COLLISION DATE                   datetime64[ns]
UNIX DATE                                 int64
dtype: object

In [15]:
nyc_data['COLLISION DATE'].min()

Timestamp('2014-06-12 18:15:00')

In [16]:
nyc_data['COLLISION DATE'].max()

Timestamp('2019-03-16 23:55:00')

In [17]:
nyc_data['YEAR'] = nyc_data['COLLISION DATE'].dt.year
nyc_data['MONTH'] = nyc_data['COLLISION DATE'].dt.month
nyc_data['DAY'] = nyc_data['COLLISION DATE'].dt.weekday_name
nyc_data['HOUR'] = nyc_data['COLLISION DATE'].dt.hour
#nyc_data.head()

In [18]:
coll_date_df = nyc_data[['HOUR', 'DAY', 'MONTH', 'YEAR','BOROUGH', 'DEATHS', 'INJURIES']]
coll_date_df.head()

   HOUR       DAY  MONTH  YEAR    BOROUGH  DEATHS  INJURIES
0     0  Saturday      3  2019   BROOKLYN     0.0         0
1     0  Saturday      3  2019  MANHATTAN     0.0         0
2     0  Saturday      3  2019     QUEENS     0.0         0
3     0  Saturday      3  2019        NaN     0.0         0
4     0  Saturday      3  2019      BRONX     0.0         1

In [19]:
coll_by_yr = coll_date_df['YEAR'].value_counts().sort_index()
coll_by_yr

2014     96760
2015    217693
2016    229784
2017    230994
2018    231435
2019     41909
Name: YEAR, dtype: int64

In [20]:
#coll_by_yr.plot()

In [21]:
coll_by_mnt = coll_date_df['MONTH'].value_counts().sort_index()
coll_by_mnt

1     86703
2     79546
3     84420
4     71364
5     81289
6     81674
7     87533
8     94534
9     94679
10    98778
11    93481
12    94574
Name: MONTH, dtype: int64

In [22]:
#coll_by_mnt.plot()

In [23]:
coll_by_wkday = coll_date_df['DAY'].value_counts()
coll_by_wkday

Friday       167344
Thursday     159107
Tuesday      156578
Wednesday    155295
Monday       149806
Saturday     138277
Sunday       122168
Name: DAY, dtype: int64

In [24]:
#coll_by_wkday.plot()

In [25]:
coll_by_hr = nyc_data['HOUR'].value_counts().sort_index()
coll_by_hr

0     32390
1     16277
2     12189
3     10652
4     12393
5     13822
6     22528
7     31453
8     59220
9     57455
10    53002
11    55171
12    58363
13    61230
14    71879
15    66305
16    77673
17    75962
18    66260
19    53547
20    43844
21    36761
22    33263
23    26936
Name: HOUR, dtype: int64

In [26]:
#coll_by_hr.plot()

In [27]:
#categorize and calulate category percentages contributing factor
#nyc_data["CONTRIBUTING FACTOR VEHICLE 1"].unique()

In [37]:
#groupby days
nyc_data_dt_gp = nyc_data.groupby('UNIX DATE')
nyc_data_dt_gp.count()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,DEATHS,INJURIES,COLLISION DATE,YEAR,MONTH,DAY,HOUR
UNIX DATE,,,,,,,,,,,,,,,,,,,,,
1402596900,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1403269500,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1403521560,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1404334860,1,1,0,0,0,0,0,0,0,1,...,0,0,0,1,1,1,1,1,1,1
1404577800,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1404918960,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405193760,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405193880,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405344900,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405382460,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405383000,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405383300,3,3,2,2,2,2,2,3,3,0,...,0,0,0,3,3,3,3,3,3,3
1405383600,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1405384200,3,3,2,2,3,3,3,2,2,0,...,0,0,0,3,3,3,3,3,3,3
1405384440,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1405384800,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405385100,2,2,2,2,2,2,2,2,2,0,...,0,0,0,2,2,2,2,2,2,2
1405386000,2,2,2,2,2,2,2,2,2,0,...,0,0,0,2,2,2,2,2,2,2
1405386780,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1405386900,1,1,1,1,1,1,1,1,1,0,...,1,0,0,1,1,1,1,1,1,1
1405387200,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405387320,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405387500,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405391100,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405391340,1,1,1,1,1,1,1,1,1,0,...,1,0,0,1,1,1,1,1,1,1
1405391400,1,1,0,0,1,1,1,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1405393800,2,2,0,0,0,0,0,1,1,1,...,0,0,0,2,2,2,2,2,2,2
1405394700,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1405396800,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1405398600,2,2,1,1,1,1,1,1,1,1,...,0,0,0,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1552772100,1,1,0,0,1,1,1,1,0,0,...,0,0,0,1,1,1,1,1,1,1
1552772400,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1552772700,2,2,1,1,2,2,2,2,1,0,...,0,0,0,2,2,2,2,2,2,2
1552773000,1,1,1,1,1,1,1,0,0,1,...,0,0,0,1,1,1,1,1,1,1
1552773420,1,1,0,0,1,1,1,1,0,0,...,0,0,0,1,1,1,1,1,1,1
1552773600,1,1,0,0,0,0,0,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1552773960,1,1,1,1,1,1,1,1,1,0,...,1,1,0,1,1,1,1,1,1,1
1552774200,2,2,1,1,2,2,2,1,0,1,...,0,0,0,2,2,2,2,2,2,2
1552774500,3,3,0,0,3,3,3,3,0,0,...,2,0,0,3,3,3,3,3,3,3
1552774800,2,2,1,1,2,2,2,1,0,1,...,1,1,1,2,2,2,2,2,2,2
1552775400,4,4,1,1,4,4,4,4,2,0,...,1,0,0,4,4,4,4,4,4,4
1552775700,2,2,1,1,2,2,2,2,1,0,...,0,0,0,2,2,2,2,2,2,2
1552776300,2,2,2,2,2,2,2,1,1,1,...,0,0,0,2,2,2,2,2,2,2
1552776600,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1552776960,1,1,0,0,1,1,1,1,0,0,...,0,0,0,1,1,1,1,1,1,1
1552777200,3,3,2,2,2,2,2,2,2,1,...,2,0,0,3,3,3,3,3,3,3
1552777260,1,1,1,1,1,1,1,0,0,1,...,0,0,0,1,1,1,1,1,1,1
1552777500,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1552777800,3,3,1,1,3,3,3,3,2,0,...,0,0,0,3,3,3,3,3,3,3
1552778220,1,1,1,1,1,1,1,0,0,1,...,0,0,0,1,1,1,1,1,1,1
1552778400,2,2,1,1,2,2,2,2,1,0,...,0,0,0,2,2,2,2,2,2,2
1552778700,2,2,1,1,2,2,2,2,1,0,...,0,0,0,2,2,2,2,2,2,2
1552779000,2,2,1,1,2,2,2,2,1,0,...,0,0,0,2,2,2,2,2,2,2
1552779300,1,1,0,0,1,1,1,1,0,0,...,0,0,0,1,1,1,1,1,1,1
1552779360,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1552779600,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,1,1,1,1,1,1
1552779660,1,1,0,0,0,0,0,1,0,0,...,1,1,0,1,1,1,1,1,1,1
1552779900,2,2,2,2,2,2,2,2,2,0,...,0,0,0,2,2,2,2,2,2,2
1552780200,3,3,3,3,3,3,3,3,3,0,...,0,0,0,3,3,3,3,3,3,3
1552780500,1,1,0,0,1,1,1,1,0,0,...,0,0,0,1,1,1,1,1,1,1

In [49]:
api_key= "6f881002d210173ae431a377c0d86624"
latitude= "40.681927"
longitude= "-73.870720"
time= "1402596900"

base_url= "https://api.darksky.net/forecast/"
query_url= f"{base_url}{api_key}/{latitude},{longitude},{time}?exclude=currently,hourly,minutely,flags"
response=requests.get(query_url).json()
pprint(response)

{'daily': {'data': [{'apparentTemperatureHigh': 71.45,
                     'apparentTemperatureHighTime': 1402606800,
                     'apparentTemperatureLow': 66.1,
                     'apparentTemperatureLowTime': 1402657200,
                     'apparentTemperatureMax': 71.45,
                     'apparentTemperatureMaxTime': 1402606800,
                     'apparentTemperatureMin': 60.18,
                     'apparentTemperatureMinTime': 1402563600,
                     'cloudCover': 1,
                     'dewPoint': 61.96,
                     'humidity': 0.9,
                     'icon': 'fog',
                     'moonPhase': 0.48,
                     'precipIntensity': 0.0004,
                     'precipIntensityMax': 0.004,
                     'precipIntensityMaxTime': 1402628400,
                     'precipProbability': 0.35,
                     'precipType': 'rain',
                     'pressure': 1016.78,
                     'summary': 'Foggy in the morning.',
                     'sunriseTime': 1402565118,
                     'sunsetTime': 1402619299,
                     'temperatureHigh': 70.7,
                     'temperatureHighTime': 1402606800,
                     'temperatureLow': 65.34,
                     'temperatureLowTime': 1402657200,
                     'temperatureMax': 70.7,
                     'temperatureMaxTime': 1402606800,
                     'temperatureMin': 60.12,
                     'temperatureMinTime': 1402563600,
                     'time': 1402545600,
                     'uvIndex': 5,
                     'uvIndexTime': 1402592400,
                     'visibility': 6.27,
                     'windBearing': 90,
                     'windGust': 17.9,
                     'windGustTime': 1402592400,
                     'windSpeed': 2.27}]},
 'latitude': 40.681927,
 'longitude': -73.87072,
 'offset': -4,
 'timezone': 'America/New_York'}